.item-list {
  background-color: #EEEEEE;
  box-shadow: 2px 2px 4px #888888;
  margin: auto;
  padding-bottom: 50px;
  width: 60%;
}

.item-list h1{
  background-color: #AAAAAA;
  padding: 20px;
  text-align: center;
}

.item-list h2{
  border-bottom: 1px solid #AAAAAA;
  padding-left: 40px;
  padding-bottom: 15px;
}

.task-button{
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 28px;
}

.modal {
  background: lightblue;
  box-shadow: 2px 2px 4px #888888;
  position: fixed;
  top: 40%;
  left: 40%;
  height: 100px;
  width: 300px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: left;
  z-index: 3;
}

.modal-title {
  display: block;
  font-size: 20px;
  margin: 5px 0 5px 0;
  width: 50%;
}

.modal-label {
  display: block;
  font-size: 100%;
  margin: 5px 0 5px 0;
  width: 90%;
}

.modal-input {
  display: block;
  margin: 5px 0 5px 0;
  width: 90%;
}

.modal-button {
  display: inline;
  margin: 5px 0 5px 0;
  width: 45%;
}
